{
    "presets": ["env", "stage-2"],
    "plugins": ["transform-runtime", "transform-decorators-legacy"],
    "env": {
        "test": {
            "plugins": ["istanbul", "add-module-exports"],
            "sourceMaps": "inline",
            "ignore": "test/unit/ava/**/*.test.js"
        }
    }
}
