<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script>
        (function () {
            var temp = location.hostname.split('.').reverse()
            var rooDomain = temp[0]
            if (temp.length > 1) {
                rooDomain = temp[1] + '.' + temp[0]
            }
            try {
                document.domain = rooDomain
            } catch (e) {
                // error
            }
        })()
    </script>
</head>
<body>
    <div id="app" class="main">
        <router-view></router-view>
    </div>
    <% if (process.env.NODE_ENV === 'production') { %>
    <script>
        /* performance */
        console.log('production');
    </script>
    <% } %>
</body>
</html>